extends index_layout
block body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.navbar-fixed-top
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
      #navbarTogglerDemo01.collapse.navbar-collapse
          a.navbar-brand(href='/') Hyperledger Caliper
          ul.navbar-nav.mr-auto.mt-2.mt-lg-0
              li.nav-item
                  a.nav-link(href='/reports') Reports 
              li.nav-item
                  a.nav-link(href='/fabric') Fabric 
              li.nav-item.active
                  a.nav-link(href='/sawtooth') 
                      | Sawtooth
                      span.sr-only (current)
                 
          form.form-inline.my-2.my-lg-0
              input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
              button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search